{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

  <div class="jumbotron p-5 text-white rounded bg-info" style="height:560px ">
    <div class="col-md-6 px-0" style="margin:95px">
      <h1 class="display-4 " style="font-size:90px">About Us!</h1>
      <p class="lead my-3" style="">bicycleRent didirikan pada tahun 2010 dan diperluas secara digital pada tahun 2018. Setelah lebih dari 10 tahun menjalankan bisnis, bicycleRent siap memenuhi harapan Anda dengan armada kendaraan kami yang diperbarui sepenuhnya.</p>
      {% comment %} <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> {% endcomment %}
      <a class="btn btn-dark btn-lg" href="#123" role="button">Learn more</a>
    </div>
  </div>
  <div class="p-3 mb-2  text-info" id="123">
    <div class="row m-5" >
        <div class="container fluid px-0"><h1 class="my-3 text-center">Why Choose Us?</h1></div>
        <div class="col-xl-4">
          <div class="container fluid px-0" >
            {%load static%}
            <img src = "{%static "trust.jpg"%}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2 " style=" text-align:center">Safe</h2>
          <p style="font-size:20px; text-align:center">Situs web paling tepercaya untuk menyewa kendaraan di Dunia. Semua kendaraan dirawat dengan baik dan dalam kondisi baik. Servis dilakukan setiap dua minggu sekali.</p>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="container" >
            {%load static%}
            <img src = "{%static "affordable.jpg"%}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2 " style=" text-align:center">Affordable Prices</h2>
          <p style="font-size:20px ; text-align:center">Semua sewa dengan harga terjangkau. Jika ada masalah pada kendaraan, ada kebijakan pengembalian. Pembayaran dapat dilakukan secara online dengan aman</p>
         
        </div><!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="container-center" >
            {%load static%}
            <img src = "{%static "Hygienic.jpg"%}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2" style=" text-align:center">Hygienic</h2>
          <p style="font-size:20px ; text-align:center">Kenyamanan Anda adalah prioritas kami! Semua kendaraan dirawat dengan baik dan higienis. </p>
        </div><!-- /.col-lg-4 -->
    </div>
    </div> 
{% endblock body %}